<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://unsplash.com/photos/85QELRMFdBM);">
  <div class="container">
    <h1>My cave</h1>
    <p>Your personal cave straight to your door, sell, buy, drink !</p>
    <a class="btn btn-flat" href="#">Register now</a>
  </div>
</div>
<div class="container">
  <div class="category-card">
  </div>
  <div class="category-card">
  </div>
  <div class="category-card">
  </div>
  <div class="category-card">
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by RaveTeam
  </div>
