<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>My Cave</title>
</head>
<body>
  <div class="navbar">
  </div>
  <div class="container">
    <div class="banner">
    </div>
    <div class="category-card">
    </div>
    <div class="category-card">
    </div>
    <div class="category-card">
    </div>
    <div class="category-card">
    </div>
  </div>
  <div class="footer">
  </div>
</body>
</html>