.btn-ghost {
  color: white;
  border: 1px solid white;
  padding: 6px 20px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: white;
}

.btn-ghost-revert {
  color: #3D0016;
  border: 1px solid #3D0016;
  padding: 6px 20px;
  border-radius: 50px;
  font-weight: bold;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  background-color: white;
}
.btn-ghost-revert:hover {
  opacity: 1;
  color: #3D0016;
}

.btn-danger {
padding: 3px;
}