// cards category

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.cards a {
  text-decoration: none;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .all {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .all {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  .all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: 1s smooth;
}

.card-category:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}



// cards products

.card-product {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  width: 300px;
  background-color: white;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
}

.card-body {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, .1);
  box-shadow: none;
}

.card-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2857em;
}

.card-username {
  font-size: 13px;
  color: rgba(0, 0, 0, .4);
}

.card-username a {
  text-decoration: none;
  color: rgba(0, 0, 0, .4);
}

.card-username a:hover {
  color: rgba(0, 0, 0, .87);
}

.card-text {
  clear: both;
  margin-top: .5em;
  color: rgba(0, 0, 0, .68);
  margin-bottom: 10px;
}

.card-footer {
  font-size: 1em;
  position: static;
  top: 0;
  left: 0;
  max-width: 100%;
  padding: .75rem 1.25rem;
  border-top: 1px solid rgba(0, 0, 0, .05) !important;
  justify-content: space-between;
  align-items: center;
  background-color: none;
}

#prix {
  margin-bottom: 0;
  padding-bottom: 0;
}

#img-transaction {
  height:300px;
  // width: 300px;
  background-size: cover;
  background-position: center;

}
//cards transactions
.cards-product-transaction {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.cards-product-transaction img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.cards-product-transaction h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.cards-product-transaction p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.cards-product-transaction .card-product-infos {
  padding: 16px;
}

.card-product-infos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
    h2 {
    font-size:25px;
    }
}

.cart-cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  margin: 3px;
  box-shadow: 1px 1px 2px 0px black;
}

.card-list {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  max-width: 350px;
  margin: 4px;
}

.card-list img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-list h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}


.card-list .card-list-infos {
  padding: 16px;
}

.card-list a {
  text-decoration: none;
}

.img-card {
  object-fit: contain;
}
