.navbar-for-home {
  justify-content: space-between;
  position: relative;
  background: transparent;
  position: absolute;
  width: 100%;
}


.navbar-for-home .navbar-collapse {
  flex-grow: 0;
}

.navbar-for-home .navbar-brand img {
  width: 100px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-link {
  display: inline;
  color: white;
}

.navbar-common {
  justify-content: space-between;
  position: relative;
  background: #20000c;
  width: 100%;
}
.navbar-common .navbar-collapse {
  flex-grow: 0;
}

.navbar-common .navbar-brand img {
  width: 100px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: white;
}