.navbar-lewagon {
  justify-content: space-between;
  position: relative;
  background: transparent;
  position: absolute;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.nav-link {
  display: inline;
}
