.form-control {
  border-radius: 50px;
  border: solid 1px rgba(0, 0, 0, 0.3);
  width: 235px;
}

.form-inline .form-control {
  width: 235px;
}

#searchbutton {
  border-radius: 0 50px 50px 0;
  border: none;
  background-color: #bf2d4c;
  color: white;
  width: 100px;
  height: 45px;
}

#searchinput {
  border-radius: 50px 0 0 50px;
  height: 45px;
  padding: 20px;
}