<div class="container m-auto my-5 py-5 position-absolute">
  <h1>test</h1>
  <% @products.each do |product| %>
    <%= product.name %>
  <% end %>
  <%= link_to "New product", new_users_product_path %>
</div>
